.div{
    background-color: rgb(48, 48, 48);
    width: 100%;
    heigth: 100%;
    display:flex;
    flex-direction: column;

}

.div p{
    color:white;
    padding: 15px 80px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}