.div {
    background-color: rgb(23, 23, 23);
    height: 98vh;
    width: 100%;
    margin: 8px 8px 8px 0px;
    border-radius: 10px;
}

.bar {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 8px 30px;
    background-color: rgb(12, 12, 12);
}

.bar button {
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.bar button:hover {
    scale: 1.04;
}

.bar a {
    margin-right: 3%;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    transition: 0.5s;
}

.bar a:hover {
    scale: 1.04;
}

.cont {
    width: 100%;
}

.tit {
    color: white;
    font-size: 23px;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    margin-top: 25px;
}

.cards {
    display: flex;
    margin: 3% 2%;
    justify-content: space-around;
}