:root {
    --div-color: rgb(7, 7, 7);
}

.Nav {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--div-color);
}

.Nav Link{
    background-color: var(--div-color);
}