.form {
    background-color: white;
    width: 440px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 10px;
}

.form p {
    background-color: white;
    padding-top: 50px;
}

.form input {
    padding: 10px 3px;
    margin: 10px 0px;
    width: 100%;
    color: aliceblue;
}

.texto {}

.form button {
    width: 120px;
    height: 50px;
    cursor: pointer;
    color: rgb(43, 43, 43);
    background-color: green;
    margin-top: 20px;
    border: none;
}

.form button:hover {
    scale: 1.04;
    transition: 0.7s;
    color: green;
    background-color: rgb(43, 43, 43);

}